/* Created by: MariaG
* Created on: May 4, 2022
* This CSS file defines the style for index.html
* ICS2O-Unit4-04-HTML-Museum
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 80%;
  margin: 5% 10%;
}

h1 {
  color: white;
  background-color: #4d1471;
  padding: 20px;
  text-align: center;
}

#green {
  background-color: #dcf0ce;
  padding: 40px 60px;
  margin-right: 30px;
}

#td-one {
  width: 65%;
}

#td-two {
  width: 35%;
}

img {
  width: 100%;
}

#results {
  padding: 30px;
  background-color: #ffffb1;
  font-weight: bold;
  color: #255c85;
  margin-top: 20px;
}
